.event-title {
    text-align: left;
}

.descriptionHtml {
    text-align: left;
}

.location {
    text-align: left;
}

.organizer {
    text-align: left;
}

.event-start {
    text-align: left;
}

.event-end {
    text-align: left;
}