@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/bootstrap/main.css';
@import '~@fullcalendar/list/main.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import '~@fortawesome/fontawesome-free/css/all.css';


.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.5em;
}

.userName {
    text-align: left;
    font-size: xx-small;
}
